body, html {
    height: 100%;
    margin: 0;
    direction: rtl;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black
    
  }
  h4{
    color: white;
    font-weight: bold;
    font-size: 18px; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    border: 10px solid #f1f1f1;
    text-align: center;
    direction: rtl;
    position: static;
    z-index: 80;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-image {

    height: 50%;
  

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
   
  .img1 { background-image: url("pic1.jpg"); }
  .img2 { background-image: url("pic2.jpg"); }
  .img3 { background-image: url("pic3.jpg"); }
  .img4 { background-image: url("pic4.jpg"); }
  .img5 { background-image: url("pic5.jpg"); }
  .img6 { background-image: url("pic6.jpg"); }
  
  h1 {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight: bold;
    font-size: 80px;
    border: 10px solid #f1f1f1;
    text-align: center;
    position: static;
    z-index: 100;
  }